
  /* Dropdown Styling */
  select {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    min-width: 200px;
    transition: border-color 0.3s;
  }
  
  select:focus {
    outline: none;
    border-color: #4a90e2;
    background-color: #f9fbfd;
  }
  
  #barChart{
    width: 100%;
  } 
  
  .flex-container{
    display: flex;
  }
  .flex-container img {
    max-width: 100%;
    height: auto;
    object-fit: cover; /* Ensure proper resizing of images */
    flex: 1; /* Allow images to flex proportionally */
  }
  .flex-container1 {
    display: flex;
    justify-content: space-between; /* Space between the two elements */
    align-items: flex-start; /* Align the items at the top */
    gap: 20px; /* Add space between the divs */
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
  }
  .flex-container1 .elbow {
    flex: 1; /* Allow the divs to take equal width */
    max-width: 45%; /* Limit their width to ensure proper spacing */
    padding: 10px; /* Add some padding inside each div */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for better visuals */
    border: 1px solid #ddd; /* Optional: Add a border */
    border-radius: 5px; /* Optional: Add rounded corners */
    background-color: #f9f9f9; /* Optional: Light background color */
  }
